BODY{
    background-color: teal;
}

p{
    font-size: 30px;
    color: aqua;
}

.box{
    border: solid chartreuse;
    border-width: 5px;
    width: 500px;
    margin: 50px;
    padding-left: 50px;
}
img{
    width: 450px;
    height: 250px;
    
}

.box{
    border: solid chartreuse;
    border-width: 5px;
    width: 500px;
    margin: 50px;
    padding-left: 50px;
}
img{
    width: 450px;
    height: 250px;
    
}